<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accélération de l'appareil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>Accélération de l'appareil</h1>

    <button id="permissionButton">Demander l'autorisation d'accès aux capteurs</button>
    <button id="start_stop">START/STOP</button>

    <div class="data-container" style="display:none;">
        <p><strong>Accélération X :</strong> <span id="accX">0</span> m/s²</p>
        <p><strong>Accélération Y :</strong> <span id="accY">0</span> m/s²</p>
        <p><strong>Accélération Z :</strong> <span id="accZ">0</span> m/s²</p>
    </div>

    <div>Envoi des données : <span id="sendStatus">inactif (pas d'accéléromètre détécté, essayez de bouger votre
            appareil)</span></div>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>

</html>