<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation 3D</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
</head>

<body>
    <img id="simulationImage" class="data-container" alt="Simulation" />

    <script>
        const socket = io.connect('https://localhost:1120', { transports: ['websocket'] });


        window.onload = function () {
            socket.emit('start_video');
        };

        socket.on('new_frame', function (data) {
            const imgElement = document.getElementById("simulationImage");
            imgElement.src = "data:image/jpeg;base64," + data.image;
        });
    </script>
</body>

</html>