<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Video Stream</title>
</head>

<body>
    <h1>Flux vidéo avec mise à jour JSON</h1>
    <img src="/video_feed" id="video" alt="Video Stream">
    <script>
        // Test de changement de paramètre
        x = Math.random();
        y = Math.random();
        z = Math.random();
        jsonData = { "x": x, "y": y, "z": z };  // Changez ici pour tester
        fetch('/update_data', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(jsonData)
        })
            .then(response => response.json())
            .then(data => console.log('Données envoyées :', data));
    </script>

</body>

</html>